.new__shares
  %h3.new__shares__text
    らいど いきましょ
  .new-form
    .new-form__content
      = form_with url: shares_path, local: true do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'らいどさき', maxlength: "20"
        = f.label :image, class: 'form__image' do
          = fa_icon 'picture-o', class: 'icon3'
          = f.file_field :image, class: 'hidden'
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name,  {prompt: "ばしょ"}, {class: 'form__select'}
        = f.collection_select :human_id, Human.all, :id, :name, {prompt: "にんずう"}, {class: "form__select"}
        = f.collection_select :distance_id, Distance.all, :id, :name, {prompt: "きょり"}, {class: "form__select"}
        = f.collection_select :elevation_id, Elevation.all, :id, :name, {prompt: "こうていさ"}, {class: "form__select"}
        = f.text_area :remarks, class:'form__remarks', placeholder: 'びこうらん'
        = f.submit 'Send', class: 'btn btn-primary btn-sm'
