.new__shares
  %h3.new__shares__text
    らいど いきましょ
  .new-form
    .new-form__content
      = form_with model: @share do |f|
        .upload-box
          = f.fields_for :share_images, @share.share_images.first do |image|
            .upload-box__dropbox
              #preview
              .upload-box__dropbox__container
                = image.label :image, for: "upload-image" do
                  .upload-box__dropbox__container__list
                    = image.file_field :image_url,multiple: "multiple", id:"upload-image", 'data-image': 0
                  .upload-box__dropbox__container__frame
                    %p.upload-box__dropbox__container__frame__explain
                      最大3枚までアップロードできます
        = f.text_field :content, class: 'form__message', placeholder: 'らいどさき', maxlength: "20"
        -# = f.label :image, class: 'form__image' do
        -#   = fa_icon 'picture-o', class: 'icon3'
        -#   = f.file_field :image, class: 'hidden'
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name,  {prompt: "ばしょ"}, {class: 'form__select'}
        = f.collection_select :human_id, Human.all, :id, :name, {prompt: "にんずう"}, {class: "form__select"}
        = f.collection_select :distance_id, Distance.all, :id, :name, {prompt: "きょり"}, {class: "form__select"}
        = f.collection_select :elevation_id, Elevation.all, :id, :name, {prompt: "こうていさ"}, {class: "form__select"}
        = f.text_area :remarks, class:'form__remarks', placeholder: 'びこうらん'
        = f.submit 'Send', class: 'btn btn-primary btn-sm'
