.new-content
  .new__shares
    %h3.new__shares__text
      らいど いきましょ
    .new-form
      = form_with url: shares_path, local: true do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'ライドサキヲカイテクダサイ', maxlength: "20"
        = f.label :image, class: 'form__image' do
          = fa_icon 'picture-o', class: 'icon3'
          = f.file_field :image, class: 'hidden'
        = f.label :"ドドウフケン", class: 'form__prefectures'
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'new-form--prefecture'
        = f.label "ニンズウ", class: 'form__human'
        = f.collection_select :human_id, Human.all, :id, :name, class: 'nre-form--human'
        = f.label :"キョリ", class: 'form__distance'
        = f.select :distance, [["5km~10km", "5km~10km"], ["10km~20km", "10km~20km"], ["20km~30km", "20km~30km"], ["30km~40km", "30km~40km"], ["40km~50km", "40km~50km"], ["50km~60km", "50km~60km"], ["60km~70km", "60km~70km"], ["70km~80km", "70km~80km"], ["80km~90km", "80km~90km"], ["90km~100km", "90km~100km"], ["100km~", "100km~"]], {},class: 'distance__select'
        = f.label :"コウテイサ", class:'form__elevation'
        = f.select :elevation, [["0m", "0m"], ["10m~50m", "10m~50m"], ["50m~100m", "50m~100m"], ["100m~150m", "100m~150m"], ["150m~200m", "150m~200m"], ["200m~250m", "200m~250m"], ["300m~350m", "300m~350m"], ["350m~400m", "350m~400m"], ["450m~500m", "450m~500"]],{}, class: 'elevation__select'
        = f.text_area :remarks, class:'form__remarks', placeholder: 'ビコウラン'
        = f.submit 'Send', class: 'btn btn-primary btn-sm'