!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RideShare
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      window.WebFontConfig = {google: { families: ['Noto+Sans+JP','Sansita:700'] },
      active: function() {sessionStorage.fonts = true;}};
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
        })();
        //後にサブセットファイルをサーバーに設置して、高速化を実装
  %body
    %header.header
      %h1.title
        = link_to(root_path) do
          %p RIDE SHARE
      - if user_signed_in?
        .user__signed__menu
          = link_to "logout", destroy_user_session_path, method: :delete
          %a.post{:href => "/shares/new"} new
          //この部分、後で修正
      - else
        = link_to "login", new_user_session_path
        = link_to "sign up", new_user_registration_path
= yield